body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

label, input, button {
    margin-top: 10px;
}

input, button {
    padding: 10px;
    margin-top: 5px;
}

button {
    cursor: pointer;
}
